<?xml version="1.0" encoding="utf-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="logging_dir">/logs/arex/</Property>

        <Property name="rolling-date-format">%d{yyyy-MM-dd}</Property>

        <Property name="backupsize">50MB</Property>
        <Property name="lastmodified">7d</Property>
        <Property name="default-rollover-strategy-max">10</Property>

        <!-- message_pattern -->
        <Property name="simple_message_pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %logger{-10} - %msg{nolookups}%n</Property>
        <Property name="console_message_pattern">${simple_message_pattern}</Property>
        <Property name="file_message_pattern">${simple_message_pattern}</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="system_out">
            <PatternLayout>
                <Pattern>${console_message_pattern}</Pattern>
            </PatternLayout>
        </Console>

        <RollingFile name="rollingFile" filename="${logging_dir}/arex.log"
                     filepattern="${logging_dir}/arex-${rolling-date-format}-%i.log">
            <PatternLayout>
                <Pattern>${file_message_pattern}</Pattern>
            </PatternLayout>
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="${backupsize}" />
            </Policies>
            <DefaultRolloverStrategy max="${default-rollover-strategy-max}">
                <Delete basePath="${logging_dir}/" maxDepth="1">
                    <IfFileName glob="arex-*.log"/>
                    <IfLastModified age="${lastmodified}"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>
        </Root>
    </Loggers>
</Configuration>
